@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "./styles/tactical.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0A0F0D;
  color: #7CFF9A;
  font-family: "Share Tech Mono", monospace;
}
